h2 {
    background-color:  #233870; /* Заливка фона */
    color: #ffffff;
    font-size: 2rem; /* Размер шрифта для h2 */
    font-family: 'Segoe Script', cursive; /* Шрифт для h2 */
     margin-bottom: 0px;/* Уменьшаем нижний отступ */
}

.hero {
    background-image: url('shoes-banner.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}
.hero h2 {
    font-size: 48px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}
.product-card {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.product-card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}
.product-card h3 {
    margin: 10px 0;
}
.product-card p {
    margin: 10px 0;
}
.product-card button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}
.product-card button:hover {
    background-color: #45a049;
}
