<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Штиблеты - магазин мужской обуви</title>

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/index.css">
</head>


<body>

<div id="header"></div>

  <!-- Навигация -->
  <div id="nav"></div>

  <div style="text-align: center;">
    <h2>Ваша идеальная пара на все случаи жизни .</h2>
  </div>

<main>
<section class="products">
    <div class="product-card">
        <img src="..\\img\\зима.jpg" alt="Ботинки">
        <h3>Зимняя</h3>
       
    </div>
  
    <div class="product-card">
        <img src="..\\img\\классические туфли.webp"демисезонная обувь">
        <h3>Весенняя - Осенняя</h3>
        
    </div>
    <div class="product-card">
        <img src="..\\img\\лето.jpg" alt="Летняя обувь">
        <h3>Летняя</h3>
        
    </div>
    <div class="product-card">
        <img src="..\\img\\демисезонные.webp" alt="Ботинки">
        <h3>Демисезонная</h3>
        
    </div>
    
</section>
</main>

<div size = 4, style="text-align: center;", face="Segoe Script">
    <p>Мы знаем толк в обуви.</p> 
</div>


  <!-- Основной контент -->
  <div id="content"></div>

  <!-- Футер -->
  <div id="footer"></div>

  <script src="../js/app.js"></script>
</body>
</html>
